.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: url('/Users/djunc/Desktop/js-exercises/homework7.time.based.modal/assets/space-background-pictures-1.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
  
.bg-2 {
	background: url('/Users/djunc/Desktop/js-exercises/homework7.time.based.modal/assets/space-background-pictures-1.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
	background: url('/Users/djunc/Desktop/js-exercises/homework7.time.based.modal/assets/space-background-pictures-1.jpg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}


.panel {

	background: rgba(76, 175, 80, 0)
}

.panel-heading {

	background: rgba(76, 175, 80, 0)
}

.row {

	background: rgba(76, 175, 80, 0)
}

.col-md-4 {

	background: rgba(76, 175, 80, 0)
}

.container {

	background: rgba(76, 175, 80, 100%)
}